html {
	font-family: Arimo, sans-serif;
}

body {
	background-color: #070014;
}

.articles-container {
	border-top: solid 2px #070014;
}

h1 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1rem;
	font-weight: bold;
}

h5 {
	font-size: 0.9rem;
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}
.hidden > * {
	display: none;
}

nav {
	background-color: #1c004d;
	border-radius: 3px 3px 0 0;
	color: #e4f4ff;
	border: double 3px white;
}
#nav-all {
	font-size: 1.5rem;
}

.navbar-toggler-icon {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-link {
	font-size: 0.85rem;
}

.nav-right {
	margin-left: auto;
}

.container {
	display: flex;
	flex-direction: column;
	align-self: center;
	background-color: #e4f4ff;
}

form {
	display: flex;
	flex-direction: column;
	margin: 8px 18px 0;
}

form > * {
	margin: 10px 0;
}

form label {
	font-size: 0.9rem;
	font-weight: 700;
	display: inline-block;
	width: 3.5rem;
	margin-right: 5px;
}

form input {
	font-size: 0.8rem;
	border: none;
	border-radius: 2px;
	padding: 8px;
	width: 300px;
	box-shadow: 0 0 3px 1px lightgray;
}

form input:focus {
	outline: none;
	box-shadow: 0 0 4px 1px darkgray;
}

#update-user-container > * {
	background-color: #c5e8ff;
	justify-content: center;
}
#user-profile-btns {
	margin: 15px;
	justify-content: space-evenly;
}

#update-btn {
	margin: auto;
	width: 80%;
}

form > button:hover {
	background-color: dimgray;
}

form > hr {
	margin: 0;
	border: 0.5px solid lightgray;
}

.error {
	color: rgb(185, 0, 0);
}

.login-input label {
	width: 70px;
}

#account-forms-container {
	background-color: #a7cde7;
}

.account-form button {
	width: 4rem;
	margin-left: 80px;
}

#create-account-form button {
	padding: 10px;
	width: 8rem;
}

.articles-list {
	margin: 10px;
}

.articles-list > li {
	color: gray;
	font-size: 0.8rem;
	margin: 0 20 0 0;
	border-bottom: solid 1px grey;
	padding-bottom: 4px;
}
.articles-list > li:hover {
	background-color: #c5e8ff;
}

.article-link > strong {
	color: black;
	font-size: 0.85rem;
	font-weight: normal;
	margin: 18px 0;
}

.article-link:hover {
	text-decoration: none;
}

.article-hostname:hover {
	text-decoration: underline;
}

.article-author {
	margin-top: 5px;
	margin-left: 25px;
}

.article-username {
	display: block;
	margin-top: 5px;
	margin-left: 25px;
}

#user-profile {
	padding: 10px 10vw;
	background-color: #a7cde7;
}

#favorited-articles,
#filtered-articles,
#user-articles {
	list-style: none;
	padding-left: 20px;
}

.account-forms-container {
	padding-left: 20px;
}

#create-account-form button {
	margin-bottom: 25px;
}

.fa-star,
.fa-trash,
.fa-user-cog,
.fa-pencil-alt {
	font-size: 0.75rem;
	margin: 0 2px;
	cursor: pointer;
}

.fa-star.fas {
	color: goldenrod;
	transition: 1000ms;
}
.fa-star.far {
	color: goldenrod;
	transition: 750ms;
}
.spin {
	animation-name: star-spin;
	animation-duration: 1000ms;
	animation-iteration-count: 1;
}
.fa-trash:hover {
	color: rgb(136, 14, 38);
}

.fa-pencil-alt:hover {
	color: darkblue;
}

.fa-user-cog {
	color: red;
}
/** Animation to spin the star once when it changes favorite status*/
@keyframes star-spin {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(-35deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/** responsive queries for tightening things up for mobile. */

@media screen and (max-width: 576px) {
	body {
		margin: 0;
	}
}

@media screen and (min-width: 992px) {
	body {
		max-width: 900px;
		margin: 8px auto;
	}
}
